/AirConditionerBrand.class
/AudioSystemBrand.class
/CameraBrand.class
/ComputerBrand.class
/FridgeBrand.class
/HomeCinemaBrand.class
/IBrand.class
/LaptopBrand.class
/MicrowaveBrand.class
/MonitorBrand.class
/PhoneBrand.class
/SmartWatchBrand.class
/TabletBrand.class
/TelevisionBrand.class
/VacuumCleanerBrand.class
/WashingMachineBrand.class
